.nav {
	text-align: center;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	float: right;
}

.nav li {
	display: inline-block;
}

.nav a {
	text-decoration: none;
	display: block;
	padding: .98em 1em;
	color: white;
}

.nav a.is-current {
	color: #989898;
}

.nav li a:hover {
	color: #989898;
	-webkit-transition: color 0.25s ease-out;
	-moz-transition: color 0.25s ease-out;
	-o-transition: color 0.25s ease-out;
	transition: color 0.25s ease-out;
}

@media (max-width: 640px) {
	.nav li {
		display: block;
	}
	.nav {
		margin-top: 30px;
	}
}

.nav {
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
}
