@import url('https://fonts.googleapis.com/css?family=Roboto');

header {
	margin-top: 5%;
}

h1 {
	text-align: center;
}

body {
	font-family: 'Helvetica Neue';
	text-align: justify;
}

img {
	max-width: 100%;
}

.container {
	padding-right: 15%;
	padding-left: 15%;
}

.containerIndex {
	padding-right: 10%;
	padding-left: 10%;
}

.mainPage {
	display: flex;
}

.mainPage h2 {
	text-align: center;
}

.apple {
	width: 35%;
	padding-right: 5%;
}

.google {
	width: 35%;
	padding-right: 5%;
}

.microsoft {
	width: 35%;
}

.appleProductsRowOne {
	display: flex;
}

.appleProductsRowOne h3{
	text-align: center;
}

.appleProductsRowTwo {
	display: flex;
}

.appleProductsRowTwo h3{
	text-align: center;
}

.appleImage {
	text-align: center;
	height: 175px;
}

.appleProductOne {
	width: 50%;
	margin-right: 5%;
}

.appleProductTwo {
	width: 50%;
	margin-right: 5%;
}

.appleProductThree {
	width: 50%;
	margin-right: 5%;
}

.appleProductFour {
	width: 50%;
}

.googleProductsRowOne {
	display: flex;
}

.googleProductsRowOne h3{
	text-align: center;
}

.googleProductsRowTwo {
	display: flex;
}

.googleProductsRowTwo h3{
	text-align: center;
}

.googleImage {
	text-align: center;
	height: 175px;
}

.googleProductOne {
	width: 50%;
	margin-right: 5%;
}

.googleProductTwo {
	width: 50%;
	margin-right: 5%;
}

.googleProductThree {
	margin-left: 25%;
	width: 50%;
}

.microsoftProducts {
	display: flex;
}

.microsoftProductName {
	text-align: center;
}

.microsoftImage {
	text-align: center;
	height: 175px;
}

.windowsContent {
	width: 50%;
	margin-right: 5%;
}

.officeContent {
	width: 50%;
}

.logo {
	max-width: 20%;
	display: inline-block;
	margin-right: 5%;
}

.logoRowIndex {
	text-align: center;
	margin-left: 5%;
}

.logoRow {
	text-align: center;
}

.image {
	width: 275px;
	text-align: center;
}

.imageApple {
	height: 175px;
}

#google {
	max-width: 35%;
}

footer {
	width: 100%;
	margin-top: 10%;
	background-color: #989898;
	color: white;
}

.disclaimer {
	margin-left: 2.5%;
	padding-top: 1%;
}

#foot {
	padding-bottom: 1%;
	margin-left: 2.5%;
}
